* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu {
  width: 20%;
  height: 100vh;
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 20px 0px 10px 1px rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
  left: -1000px;
  z-index: 1050;
  transition: left 0.3s ease-in-out;
}

.menu.aberto {
  left: 0;
}

.menu .name {
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #363636;
  font-family: "Fredoka One", sans-serif;
  cursor: default;
}

.menu .name img {
  width: 45px;
  height: 40px;
}

.btn-fechar {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffff;
  transform: scale(1.6);
  cursor: pointer;
}

.btn-fechar:hover {
  transform: scale(2);
}

.hiperlinks {
  width: 100%;
  height: 50%;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hiperlinks a {
  text-decoration: none;
  color: #ffff;
  transition: all 0.2s ease;
}

.hiperlinks a:hover {
  transform: scale(1.1);
  color: #ffa500;
  padding-left: 30px;
}

.sair .btn-fechar:hover {
  color: #dc3545;
}
